################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DateManagement/obj/
/DateManagement/bin/
/DateManagement/.vs/
/DateManagementTests/bin/
/DateManagementTests/obj/
/.vs
/TestResults
*.vssscc
*.coverage

